body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .bg-pink-300 {
    background-color: #f472b6;
    width: 100%;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  